.add-post-button {
  color: black;
  padding: 0.7rem 1.5rem;
  height: 3rem;
  width: 10rem;
  line-height: 0.7rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  text-align: center;
  background: var(--main-button-color);
  color: white;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(14, 14, 14, 0.4);
  -webkit-transition: box-shadow 0.5s;
}

.add-post-button:hover {
  color: rgb(202, 172, 255);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.4);
}

#plus {
  font-size: 1.6rem;
  font-weight: normal;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .add-post-button {
    width: 10.5rem;
  }
}

@media only screen and (max-width: 411px) {
  #add-post-button,
  .add-post-button {
    width: 100%;
    border-radius: 5px;
    justify-content: center;
  }

  .add-post-button {
    padding: 1.8rem 0;
    line-height: 0.3rem;
  }

  #plus {
    margin-right: 0.5rem;
  }
}
