.main-button {
  width: 8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  background: var(--main-button-color);
  font-size: 1rem;
  letter-spacing: 3px;
  -webkit-transition: box-shadow 0.5s;
  box-shadow: 0 2px 5px rgba(14, 14, 14, 0.4);
  outline: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.main-button:hover {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  color: rgb(202, 172, 255);
}

#back-to-posts {
  width: 10.5rem;
  background: inherit;
  box-shadow: none;
  color: var(--main-button-color);
  padding: 0;
  text-align: right;
}

#back-to-posts:hover {
  color: rgb(141, 75, 255);
}

#delete-post {
  background: rgb(233, 72, 129);
}

#edit-post {
  margin-right: 1.5rem;
  background: white;
  color: var(--main-button-color);
}

#edit-post:hover {
  color: rgb(141, 75, 255);
}

#delete-post:hover {
  color: rgb(252, 193, 242);
}

@media only screen and (max-width: 480px) {
  .main-button {
    width: 100%;
  }

  #edit-post {
    margin-bottom: 1.5rem;
  }
}
