#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-main-title {
  text-align: center;
  padding: 2rem;
  color: var(--main-text-color);
}

#blog-picture-link {
  width: 80%;
  margin: 0 auto;
}

#blog-picture {
  width: 100%;
  border-radius: 2px;
}
