#home {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}

#home-main-title {
  text-align: center;
  padding: 2rem;
}
#home-main-text {
  text-align: center;
}
