.add-new-post {
  width: 90%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--main-text-color);
  margin-top: 1.5rem;
}

.title-and-category {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

input {
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  line-height: 1rem;
  padding: 1rem;
  width: 81.9%;
}

.input-default {
  background: var(--input-background-color);
  color: rgb(53, 53, 53);
  border-bottom: 2px solid transparent;
  justify-self: flex-start;
}

.input-default:focus {
  border-bottom: 2px solid rgb(69, 69, 69);
}

::-webkit-input-placeholder {
  color: rgb(171, 171, 171);
}

#new-post-title {
  font-size: 1rem;
  margin-right: 1.5rem;
}

#select-category {
  font-size: 1rem;
}

#image-input {
  margin-bottom: 1.5rem;
  width: 100%;
  margin-right: 0;
}

#new-post-text {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  background: var(--input-background-color);
}

.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-post-buttons-container {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  justify-content: flex-end;
}

#save-new-post {
  margin-right: 1.5rem;
}

#cancel-new-post {
  background: white;
  color: var(--main-button-color);
}

#cancel-new-post:hover {
  color: rgb(123, 78, 238);
}

@media only screen and (max-width: 1024px) {
  .add-new-post {
    width: 90%;
    padding: 0 5%;
  }
}

@media only screen and (max-width: 650px) {
  .add-new-post {
    width: 99%;
  }

  .title-and-category {
    height: fit-content;
    justify-content: flex-end;
  }

  #new-post-title {
    width: 100%;
    height: fit-content;
    margin-right: 0;
    margin-top: 4.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .title-and-category {
    flex-wrap: wrap;
  }

  .new-post-buttons-container {
    flex-wrap: wrap;
  }

  .new-post-buttons-container a {
    width: 100%;
  }

  #save-new-post {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
  }

  #cancel-new-post {
    width: 100%;
    padding: 1rem 0;
  }
}
