.add-new-post {
  width: 100%;
  padding: 0 10%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: var(--main-text-color);
}
.title-and-category {
  width: 100%;
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.textarea-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#new-post-title {
  margin-right: 1rem;
  font-size: 1rem;
}

.new-post-buttons-container {
  width: 100%;
  margin: 1.5rem 0 3rem;
}

#save-new-post {
  margin-right: 2rem;
  width: 10%;
}
#cancel-new-post {
  width: 10%;
}

input {
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  line-height: 1rem;
  padding: 1rem;
  width: 70%;
}

.input-default {
  background: white;
  color: rgb(53, 53, 53);
  border-bottom: 2px solid transparent;
  justify-self: flex-start;
}

.input-default:focus {
  border-bottom: 2px solid rgb(69, 69, 69);
}
/* 
.red {
  background: #fbe9e7;
  border-bottom: 2px solid white;
}

.red:focus {
  border-bottom: 2px solid rgb(252, 55, 55);
  background: #fbe9e7;
} */

::-webkit-input-placeholder {
  color: rgb(201, 201, 201);
}

#select-category-label {
}

#select-category {
  font-size: 1rem;
}

#new-post-text {
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2px;
  border: none;
  outline: none;
  background: white;
}
