.posts {
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 1.5rem auto 0;
  display: flex;
  flex-wrap: wrap;
  color: rgb(69, 69, 69);
  justify-content: flex-end;
  border-radius: 5px;
  align-items: baseline;
}

#add-post-button {
  margin-bottom: 1.5rem;
}

.post-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.post-item-container {
  display: block;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .posts {
    width: 95%;
    justify-content: center;
  }

  .post-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  .posts {
    margin: 0 auto;
  }

  #add-post-button {
    margin: 1.5rem 0 1.5rem;
  }

  .post-list-container {
    grid-template-columns: minmax(300px, 1fr);
  }
}
