#main-nav {
  text-align: center;
  background: rgb(219, 219, 219);
}

#main-nav ul {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

#main-nav li {
  padding: 0 0.5rem;
  list-style-type: none;
}
