#main-nav {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  border-bottom: 1px solid var(--main-border-color);
}

#main-nav-ul {
  padding: 0;
}

#main-nav li:first-child {
  border-right: 1px solid var(--nav-border-color);
}

#main-nav li {
  list-style-type: none;
  display: inline-block;
}

#main-nav a {
  text-decoration: none;
  color: black;
  padding: 0 1rem;
}

#main-nav a:hover {
  color: rgb(9, 9, 180);
}

a {
  text-decoration: none;
}

#not-found {
  text-align: center;
  margin-top: 3rem;
}
