* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--main-backgound-color);
  width: 100%;
}

:root {
  --main-border-color: rgb(228, 228, 228);
  --nav-border-color: rgb(188, 188, 188);
  --main-backgound-color: rgb(252, 252, 252);
  --main-text-color: rgb(69, 69, 69);
  --second-background-color: rgb(245, 245, 245);
  --input-background-color: rgb(238, 238, 238);
  --button-border-color: rgb(243, 243, 243);
  --main-button-color: rgb(72, 8, 200);
  --second-text-color: rgb(105, 105, 105);
}

@media only screen and (min-width: 1414px) {
  body {
    width: 1414px;
    margin: 0 auto;
  }
}
